.mainbg {
	width: 1180px;
	overflow: hidden;
	margin: 10px auto;
}
 
.bgcorol {
	background: #fff;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
}

.mainl {
	float: left;
	width: 843px;
	overflow: hidden;
	background: #fff;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
}

.mainr {
	float: right;
	width: 335px;
	overflow: hidden
}

.nr_body hr {
	height: 1px;
	border-right: medium none;
	border-width: 2px medium medium;
	border-style: dotted none none;
	border-color: #999 -moz-use-text-color -moz-use-text-color;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.mainls {
	float: left;
	width: 843px;
	overflow: hidden;
}

.leftbg {
	background: #fff;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
	overflow: hidden
}

.place {
	height: 20px;
	padding: 10px;
	line-height: 20px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	background-color: #FFF;
}

.p_url {
	float: left;
	font-family: 宋体;
	font-size: 12px;
	color: #666;
	margin-top: 2px;
	text-align: left;
	overflow: hidden;
	line-height: 20px;
	height: 20px;
}

.p_url a,.p_url strong,.p_url h1 {
	font-weight: normal;
	color: #666;
	font-family: Tahoma,Geneva,sans-serif;
	padding: 0 6px;
	display: inline;
}

.p_url a:hover {
	color: #F30;
}

.p_url a.pd {
	float: left;
	display: block;
	padding: 0;
	margin: 0 5px;
	cursor: pointer;
	overflow: hidden;
	height: 40px;
	font-size: 18px;
	border-right: 1px dotted #ccc;
	text-shadow: 0 1px #ccc;
	padding-right: 10px;
	font-family: "Microsoft Yahei";
	color: #333;
}

.p_url a.pd:hover {
	text-decoration: none;
}

#select_list {
	text-align: left;
	float: right;
}

.list_paixu {
	text-align: left;
	line-height: 30px;
	padding-left: 0;
	margin: 10px;
}

.list_paixu dl {
	border-bottom: 1px dotted #ddd;
	display: inline-block;
	padding: 8px 0;
	width: 100%;
}

.list_paixu dt {
	float: left;
	width: 45px;
	padding-left: 10px;
	text-align: left;
	color: #2d2d2d;
}

.list_paixu dd {
	margin-left: 55px;
}

.list_paixu dd a {
	text-align: center;
	color: #444;
	margin-right: 13px;
	margin-bottom: 2px;
	padding: 4px;
	display: inline-block;
	overflow: hidden;
	line-height: 20px;
}

.list_paixu dd a:hover {
	color: #fff;
	text-decoration: none;
	background: #21a657;
	border-radius: 3px
}

.list_paixu dd a.on {
	color: #fff;
	font-weight: 700;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
	background: #21a657;
	opacity: 0.9;
	filter: alpha(opacity=90);
	border-radius: 3px;
}

.mubanlist {
	margin: 15px 8px;
}

.pic i {
	background: url(../img/ico-tb.gif) no-repeat;
	width: 55px;
	height: 55px;
	position: absolute;
	right: -3px;
	top: 0;
	z-index: 9
}

.pic i.i_jingpin {
	background-position: 0 -56px;
}

.pic i.i_tuijian {
	background-position: 0 0;
}

.pic i.i_remai {
	background-position: 0 -168px;
}

.pic i.i_youhui {
	background-position: 0 -112px;
}

.pic i.i_fuli {
	background-position: 0 -224px;
}

.pic i.i_no {
	background-position: 0 -278px;
}

.post-home {
	float: left;
	width: 222px;
	margin: 5px 5px 5px 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
	border-bottom: 1px solid #e5e5e5;
}

.post-home:hover {
	border-bottom: 1px solid #FF0000;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.post-thumbnail {
	height: 124px;
	overflow: hidden;
}

.post-thumbnail {
	position: relative;
}

.post-home .post-content p {
	padding: 0 24px;
	line-height: 1.5em
}

.post-thumbnail a,.video .post-thumbnail {
	width: 222px;
	overflow: hidden;
}

#post-home .post-thumbnail a img {
	min-width: 222px;
}

.post-thumbnail a img {
	position: static;
}

.post-thumbnail p {
	margin: 20px 15px;
	cursor: default;
	line-height: 2em;
}

.post-info .title {
	text-align: left;
	height: 18px;
	color: #333;
	font-size: 16px;
	marging-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.post-thumbnail .title a {
	color: #62b806
}

.post-thumbnail a {
	display: block;
	min-height: 100px;
	max-height: 222px;
	overflow: hidden;
}

.post-thumbnail a:hover,.navigation .next:hover,.navigation .prev:hover {
	text-decoration: none
}

.post-thumbnail .img_title {
	position: absolute;
	bottom: 0;
	width: 222px;
	padding: 10px;
	height: auto;
	background-color: #fff;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 2em;
	cursor: pointer;
	display: none;
}

.post-thumbnail .img_title a {
	color: #666;
	width: 222px;
	display: inline;
}

.post-info {
	height: auto;
	padding: 5px 10px;
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #f1f1f1;
}

.post-info,.post-info a,.post-noimg a,.post-noimg p {
	color: #333;
}

.post-info .on-hover,.post-info a:hover {
	color: #62b806;
	text-decoration: none;
}

#sidebar .post-info div {
	width: 84px;
	height: 35px;
	float: left
}

.post-info .title {
	text-align: left;
	color: #333;
	font-size: 12px;
	marging-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

.post-info .title a {
	display: block;
	width: 100%;
}

.post-info .others {
	overflow: hidden;
	color: #999;
}

.post-info .others >li {
	float: right;
	text-align: left;
	font-size: 11px;
	margin: 0  0 0 15px;
}

.post-info .others .in_category {
	margin: 0px;
	float: left;
}

.post-info .others .description {
	font-size: 12px;
	float: left;
	margin-left: 0;
}

.post-info .views {
	background-image: url(../img/views.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	text-indent: 18px;
}

.post-info .views a {
	color: #999;
}

.post-info .comments a {
	background-image: url(../img/popup-link.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: 18px;
	display: block;
	text-decoration: none;
	color: #999;
}

.post-info .comments a:hover {
	background-position: 0 -16px;
	color: #e54e4b;
}

#post-header .likes {
	cursor: pointer;
}

#post-msg2 .likes {
	cursor: pointer;
}

#post-msg2 .likes:hover {
	color: #62b806;
}

.post-info .likes .wizylike_icon {
	background-image: url(../img/like.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	cursor: pointer;
	text-indent: 18px;
	width: auto!important;
	display: block;
	height: 16px;
	color: #999;
}

.wpfp-hide {
	display: none;
}

.post-info .likes .wizylike_icon:hover,.post-info .likes .hover {
	background-position: 0 -50px;
	color: #e54e4b;
}

#pages {
	padding-top: 16px;
	font-family: 微软雅黑;
	clear: both;
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
}

#pages li {
	float: left;
	margin: 2px 3px;
}

#pages a {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background: #fff;
	border: 1px solid #e3e3e3;
	text-align: center;
	color: #333;
	padding: 0 11px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

#pages a.a2 {
	height: 25px;
	line-height: 25px;
	padding: 0 12px;
	font-size: 12px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

#pages a:hover {
	background: #f1f1f1;
	color: #000;
	text-decoration: none
}

.thisclass {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background: #70CA10;
	color: #fff;
	text-align: center;
	padding: 0 0px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px
}

.thisclass1 {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background: #70CA10;
	color: #fff;
	text-align: center;
	padding: 0 11px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px
}

#pages .disabled {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background: #F1F1F1;
	border: 1px solid #E3E3E3;
	color: #000;
	text-align: center;
	padding: 0 11px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px
}

#pages .disabled1 {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	color: #000;
	text-align: center;
	padding: 0 11px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px
}

#pages .disabled2 {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	color: #000;
	text-align: center;
	padding: 0 11px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px
}

.main_nr {
	margin: 10px;
	overflow: hidden;
}

.u-postheader {
	border-bottom: 1px solid #ddd
}

.u-postheader h1 {
	color: #646464;
	font-size: 20px;
	font-family: "Microsoft YaHei","微软雅黑","宋体";
	font-weight: normal;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 670px;
	height: 29px;
}

.u-post-textad {
	text-align: center;
	font-size: 14px;
	margin-bottom: 18px
}

.u-post-textad a {
	color: #1E3E74;
	font-family: 'Segoe UI',Tahoma,Arial;
	margin-right: 5px;
}

.post-meta {
	font: 13px/22px "Oxygen",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	padding: 12px 0;
	color: #9EA1A5;
}

.post-meta a {
	color: #9EA1A5;
	padding: 3px;
}

.post-meta time {
	padding-right: 10px;
}

.post-meta a:hover {
	color: #000;
	text-decoration: none
}

.post-meta span,.post-meta i {
	display: inline-block;
}

.post-meta span {
	padding: 0 10px
}

.post-meta span:before,.post-editer span:before {
	font-weight: 800;
	display: inline-block;
	text-align: center;
	color: #ddd;
	position: relative;
}

.vt_titler {
	background: url(../img/kuvai_icon.png) -136px -90px no-repeat;
	text-indent: 1.5em;
	float: right;
	overflow: hidden;
}

.nr_body {
	display: block;
	padding-bottom: 10px;
	width: 99%;
	margin: 10px auto;
	overflow: hidden;
	line-height: 22px;
	overflow: hidden;
	font-size: 14px;
	font-family: 'Microsoft Yahei','Helvetica Neue','Luxi Sans','DejaVu Sans',Tahoma,'Hiragino Sans GB',STHeiti;
	color: #444;
	border-bottom: 1px dotted #dedede
}

.nr_body img {
	background-color: #F6F6F6;
	border: 1px solid #E6E6E6;
	padding: 10px;
	text-align: center;
	max-width: 90%;
	vertical-align: top;
}

.nr_body h1,.nr_body h2,.nr_body h3,.nr_body h4 {
	font-weight: normal;
	padding: 10px 20px 10px 20px;
	border-left: 4px solid #A3DB18;
	background-color: #fafafa
}

.nr_body h1 {
	font-size: 20px;
	line-height: 30px
}

.nr_body h2 {
	font-size: 18px;
	line-height: 26px
}

.nr_body h3 {
	font-size: 16px;
	line-height: 22px
}

.nr_body h4 {
	font-size: 14px;
	line-height: 20px
}

.nr_page {
	padding: 5px 0;
}

.page_list {
	float: left;
	position: relative;
	left: 50%;
	clear: both;
	padding: 18px 0 10px 0;
	text-align: center;
	font-family: Tahoma;
}

.page_list .p_l {
	position: relative;
	float: left;
	left: -50%;
}

.page_list a,.page_list .disabled,.page_list .thisclass,.page_list .pageinfo {
	color: #403F3D;
	padding: 0 11px 0 0;
	height: 32px;
	display: block;
	float: left;
	line-height: 32px;
	line-height: 34px\9;
	_line-height: 32px;
	text-decoration: none;
	margin: 0 2px;
	background: url(../img/bga.png) no-repeat right -150px;
}

.page_list a:hover {
	color: #333;
	font-weight: normal;
	background-position: right -230px;
	text-decoration: none;
}

.page_list .thisclass {
	font-weight: bold;
	background-position: right -190px;
	color: #666;
}

.page_list .pageinfo {
	color: #666;
	background-position: right -330px;
	margin-right: 4px;
}

.page_list u {
	width: 3px;
	display: block;
	height: 32px;
	float: left;
	padding-right: 9px;
	*padding-right: 9px;
	overflow: hidden;
	background: url(../img/bga.png) no-repeat 0 -150px;
}

.page_list 
.thisclass u {
	background-position: 0 -190px;
}

.page_list a:hover u {
	background-position: 0 -230px;
}

.page_list .pageinfo u {
	background-position: 0 -330px;
}

.page_list .disabled {
	color: #999;
}

.page_list .one,.page_list .last {
	display: none;
}

.ico_user {
	width: 320px;
	overflow: hidden;
	float: right;
	border: 1px solid #E1E1E1;
	margin-bottom: 10px;
	background: #fff
}

.i1_r {
	margin: 10px auto;
	width: 312px;
	overflow: hidden;
}

.i1_r a.zc {
	background-position: 0 0;
}

.i1_r a.dl {
	background-position: -103px 0;
}

.i1_r a.xrzn {
	background-position: -206px 0;
	background: url(../img/nr_ico.png) no-repeat -206px 0 #FFF;
}

.i1_r a:hover.zc {
	background-position: 0 -66px;
}

.i1_r a:hover.dl {
	background-position: -103px -66px
}

.i1_r a:hover.xrzn {
	background-position: -206px -66px;
	cursor: pointer;
}

.i1_r a:hover.zc {
	background-position: 0 -66px;
}

.i1_r a:hover.dl {
	background-position: -103px -66px
}

.i1_r a:hover.xrzn {
	background-position: -206px -66px;
}

.i1_r a {
	display: block;
	float: left;
	width: 104px;
	height: 63px;
	overflow: hidden;
	line-height: 88px;
	color: #666;
	font-weight: 400;
	font-size: 12px;
	font-family: '宋体';
	text-decoration: none;
	text-align: center;
	background: #fff url(../img/nr_ico.png) no-repeat 0 0;
}

.nr_tag {
	display: block;
	padding: 5px 5px;
	text-align: left;
}

.nr_tag span {
	color: #333;
}

.nr_tag a {
	height: 26px;
	line-height: 23px;
	padding: 6px 9px;
	margin: 0 6px 0 0;
	text-decoration: none;
}

.nr_tag a {
	font-size: 12px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px white;
	background: #fafafa;
	border-width: 1px;
	border-style: solid;
	border-color: #dadada #d2d2d2 #c5c5c5;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top,#fcfcfc,#f0f0f0);
	background-image: -moz-linear-gradient(top,#fcfcfc,#f0f0f0);
	background-image: -o-linear-gradient(top,#fcfcfc,#f0f0f0);
	background-image: linear-gradient(to bottom,#fcfcfc,#f0f0f0);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7),0 1px 2px rgba(0,0,0,0.05);
}

.nr_tag a:hover {
	background-image: -webkit-linear-gradient(bottom,#fcfcfc,#f0f0f0);
	background-image: -moz-linear-gradient(bottom,#fcfcfc,#f0f0f0);
	background-image: -o-linear-gradient(bottom,#fcfcfc,#f0f0f0);
	background-image: linear-gradient(to top,#fcfcfc,#f0f0f0);
	text-decoration: none;
}

.nr_tag .red,.nr_tag a.red:hover {
	color: #f00;
}

.nr_tag .red2,.nr_tag .red2:hover {
	text-decoration: underline;
	padding: 0;
	margin: 0;
	border-radius: 0;
	background: none;
	border: none;
	color: #f00;
	box-shadow: none;
}

.nr_tag em {
	color: #666;
	font-style: normal;
}

.min_ud {
	width: 100%;
	height: 50px;
	float: left;
	border: 1px #EEE solid;
	border-left: 0px;
	border-right: 0px;
}

.min_ud a:hover {
	color: #ef3a07;
	text-decoration: none;
}

.min_up,.min_down {
	width: 410px;
	height: 50px;
	float: left;
	border-right: 1px #EEE solid;
	background-color: #F8F8F8;
}

.min_down {
	width: 410px;
	border: 0px;
}

.min_up i,.min_down i {
	display: block;
	width: 40px;
	height: 23px;
	float: left;
	margin: 16px 0 0 0;
	cursor: pointer;
}

.min_up i {
	background: url(../img/bga.png) no-repeat 25px 0px;
	margin-right: 20px;
}

.min_down i {
	float: right;
	background: url(../img/bga.png) no-repeat -15px 0px;
	margin-left: 20px;
}

.min_up span,.min_down span {
	display: block;
	white-space: nowrap;
	height: 54px;
	float: left;
	line-height: 54px;
	padding: 0px 4px;
	font-size: 14px;
}

.min_down span {
	float: right;
}

.min_up a,.min_down a {
	display: block;
	width: 190px;
	height: 54px;
	float: left;
	line-height: 54px;
	overflow: hidden;
	font-size: 14px;
}

.min_down a {
	float: right;
}

.pinglun {
	margin: 10px;
	width: 820px;
	overflow: hidden;
}

.promulgator {
	margin: 8px;
	height: 100px;
	line-height: 1.8;
	color: #999;
}

.box {
	margin-bottom: 10px;
	border: 1px solid #f5f5f5;
	background-color: #fcfcfc;
}

.promulgator .avatar {
	margin: 10px;
	float: left;
	padding: 3px;
	border: 1px solid #D4D4D4;
}

.avatar {
	display: block;
	padding: 1px;
	width: 74px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #D4D4D4;
}

.promulgator .avatar img {
	width: 74px;
	height: 74px;
}

.promulgator .name {
	color: #333;
	margin-top: 10px;
	font-size: 14px;
	overflow: hidden;
}

.promulgator .name a {
	float: left
}

.promulgator .mr {
	margin-right: 10px;
}

.ruser {
	float: right;
	width: 200px;
	overflow: hidden
}

.icon-10 {
	width: 19px;
	height: 19px;
	float: left;
	background: url(../img/kuvai_icon.png) no-repeat -65px -29px;
}

.icon-1 {
	width: 19px;
	height: 19px;
	float: left;
	background: url(../img/kuvai_icon.png) no-repeat -65px -29px;
}

.userico {
	float: left;
	width: 200px;
	height: 40px;
	margin-top: 10px
}

.userico .guanzhu {
	border: 1px solid #e0e0e0;
	background: #fff;
	margin-right: 5px;
	padding: 5px 10px 5px 19px;
	background: #fff url(../img/bga.png) no-repeat -64px 9px;
}

.userico .sixin {
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 5px 10px 5px 25px;
	background: #fff url(../img/bga.png) no-repeat -133px 7px;
}

.column-right {
	background: #fff;
	width: 320px;
	border: 1px solid #E1E1E1;
	float: right;
	margin: 0 auto 10px auto;
}

.column-right .column-title {
	height: 40px;
	background: #f8f8f8;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 10px;
	line-height: 40px;
	font-size: 16px;
	color: #666;
}

.column-right .column-title h2 span {
	display: inline-block;
	float: left;
}

.column-right .column-title h2 i {
	background: url(../img/main_ico.jpg) no-repeat -1px 0;
	float: left;
	width: 16px;
	height: 13px;
	margin-top: 11px;
	padding-right: 6px;
	position: relative;
	top: 3px;
}

.column-right .column-title .more {
	float: right;
	color: #666;
	font-size: 12px;
}

.column-right ul li {
	float: left;
	width: 80px;
	font: normal 12px/35px 'MicroSoft Yahei';
	margin-top: 5px;
}

.column-right ul li a {
	display: block;
	width: 80px;
	height: 35px;
	text-align: center;
	border-bottom: 1px solid #eee;
	color: #666;
}

.column-right ul li a.cur-on {
	color: #014da3;
	font-weight: bold;
}

.column-right ul li a:hover {
	color: #03B435;
	border-color: #03B435;
}

.widget-box {
	background: #fff;
	border: 1px solid #e1e1e1;
	padding-bottom: 5px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	width: 320px;
	float: right;
}

.widget-title {
	height: 40px;
	background: #f8f8f8;
	border-bottom: 1px solid #e1e1e1;
	color: #666;
}

.widget-title span.icon {
	background: url(../img/main_ico.jpg) no-repeat 10px -52px;
	padding: 20px 18px;
	float: left;
	border-right: 1px solid #DADADA;
	line-height: 20px;
}

.widget-title h2,.widget-title h3 {
	margin: 0;
	font-size: 14px;
	padding: 14px 14px 14px 50px;
	line-height: 12px;
}

.widget-content {
	padding: 10px;
}

.widget-box .widget-hot ul {
	padding: 6px;
}

.widget-box .widget-hot ul li {
	width: 142px;
	height: 90px;
	float: left;
	display: inline-block;
	position: relative;
	margin: 5px;
	border: 1px solid #ddd;
}

.widget-box .widget-hot ul li img {
	display: block;
	width: 142px;
	height: 90px;
}

.widget-box .widget-hot ul li .txt {
	width: 142px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 24px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000');
	background: rgba(0,0,0,0.4);
}

.widget-box .widget-hot ul li .txt a {
	padding: 0 4px;
	line-height: 24px;
	color: #fff;
	font-size: 14px;
}

.widget-thumb span.date {
	margin: 5px 0;
	color: #AAA;
	font-size: 85%;
}

.widget-thumb .post-thumbnails {
	float: left;
	margin: 0 10px 0 0;
	padding: 1px;
	border: 1px solid #E1E1E1;
}

.widget-thumb {
	height: auto;
	min-height: 73px;
	margin: 10px 0;
}

.widget-text-box {
	padding: 15px;
}

.widget-text-box img {
	width: 100%;
	height: auto;
}

.widget-pic a {
	float: left;
	width: 50%;
	height: auto;
}

.widget-pic a img {
	width: 98%;
	max-width: 150px;
	height: auto;
	padding: 8px 3.5%;
}

.widget_cm_tagcloud a {
	margin-right: 5px;
	line-height: 26px;
}

.widget_new_comments ul li {
	height: auto;
	background: none;
	min-height: 55px;
	margin: 10px 0;
}

.widget_new_comments img {
	float: left;
	margin: 0 10px 0 0;
	background: #fff;
}

.icon-stats {
	background: url(../img/main_ico.jpg) no-repeat 10px -20px;
	padding: 20px 18px;
	float: left;
	border-right: 1px solid #DADADA;
	line-height: 20px;
}

.r_ad_300 {
	width: 300px;
	height: 250px;
	overflow: hidden;
	background: #fff;
	padding: 10px;
	border: 1px solid #e1e1e1;
	float: right;
}

#float {
	width: 300px;
	height: 250px;
	overflow: hidden;
	background: #fff;
	padding: 10px;
	border: 1px solid #e1e1e1;
	float: right;
}

.r_ad {
	width: 300px;
	height: 250px;
	overflow: hidden;
	background: #fff;
	padding: 10px;
	border: 1px solid #e1e1e1;
	float: right;
}

.div2 {
	top: 0px;
	z-index: 999;
	width: 300px;
	height: 250px;
	overflow: hidden;
	background: #fff;
	margin: 0px 16px;
	position: fixed;
	_position: absolute
}

.more-like {
	padding: 10px;
	overflow: hidden;
}

.more-like h3 {
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #333;
}

.more-like ul li {
	float: left;
	width: 190px;
	margin-left: 10px;
	margin-right: 5px;
	position: relative;
	height: 150px;
	margin-bottom: 15px;
}

.more-like ul li img {
	display: block;
	width: 190px;
	height: 150px;
}

.more-like ul li .txt {
	width: 190px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 35px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000');
	background: rgba(0,0,0,0.4);
}

.more-like ul li .txt a {
	padding: 0 4px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
}

.article-quick-down {
	display: block;
	margin-top: -20px;
	float: right;
	padding: 10px 25px;
	background: #4e9e00;
	color: #fff;
	z-index: 2;
}

.article-quick-down:hover {
	background: #FF7402;
	color: #FFF;
}

.article-share {
	float: right;
	overflow: hidden;
	font-size: 14px;
	line-height: 40px;
	text-align: right;
	padding-right: 20px;
}

.article-share span {
	margin: 0 10px;
}

.article-share em {
	font-style: normal;
	font-weight: bold;
	color: #FF7E00;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 16px;
}

.article-tips {
	background: url(../img/main_ico.jpg) no-repeat 0px -89px;
	margin-top: 15px;
	padding-left: 20px;
	height: 25px;
	line-height: 25px;
	color: #ACACAC;
}

.article-tips a {
	color: #1279ee;
}

.article-tips a:hover {
	text-decoration: underline;
}

.nr_info {
	display: block;
	text-align: left;
	padding: 12px 0;
	color: #666;
	line-height: 20px;
	border-bottom: 1px dotted #ccc;
}

.down-share {
	height: 40px;
	overflow: hidden;
	padding: 25px 0;
	border-top: 1px dashed #EEE;
	border-bottom: 1px dashed #eee;
}

.down-link a,.down-link a:hover,.demo-link a,.demo-link a:hover,.runCodes a,.copycodes a,.copycodes a:hover,.copycodes a:hover,.saveCodes a,.saveCodes a:hover {
	background: url(../img/down-sprite.png) no-repeat;
}

.down-link,.demo-link {
	width: 166px;
	height: 40px;
	overflow: hidden;
	float: left;
}

.down-link a,.demo-link a {
	display: block;
	width: 106px;
	height: 40px;
	padding-left: 60px;
	background-color: #3fbf00;
	background-position: 17px 3px;
	font: normal 22px/40px "Microsoft Yahei",Tahoma,Verdana,"宋体";
	color: #fff
}

.down-link a:hover {
	background-color: #ff7102;
	background-position: 17px -32px;
}

.demo-link,.copycodes,.saveCodes {
	padding-left: 25px;
}

.demo-link a {
	background-color: #1160ba;
	background-position: 17px -332px;
}

.demo-link a:hover {
	background-color: #ff7102;
	background-position: 17px -372px;
}

.imglist {
	display: block;
	padding-top: 10px;
	width: 1180px;
	margin: 0 auto;
}

.imglist dt {
	background: #fff;
	border-right: solid 1px #dbdcde;
	border-bottom: solid 1px #dbdcde;
	display: block;
	height: 252px;
	margin-bottom: 10px;
}

.listimg {
	clear: both;
	padding-top: 15px;
	padding-left: 13px;
}

.listimg li {
	float: left;
	width: 216px;
	margin-right: 15px;
	_margin-right: 8px;
	padding-left: 2px;
	padding-bottom: 20px;
}

.listimg li h2 {
	font-weight: normal;
	padding-left: 7px;
	display: block;
	float: left;
	width: 200px;
	margin-top: 8px;
	*line-height: 16px;
	height: 16px;
	overflow: hidden;
	font-size: 12px
}

.listimg img {
	background: #fff
}

.listcount {
	width: 170px;
	float: left;
}

.view,.view1 {
	float: left;
	height: 16px;
	background: url(../img/views.png) 0 2px no-repeat;
	margin-left: 6px;
	_margin-left: 3px;
	padding-left: 19px;
}

.view,.comment,.love,.comment1 {
	font-size: 11px;
	font-family: Arial;
	color: #b7b7b7;
}

.view1 {
	font-size: 12px;
	font-family: Arial;
	color: #b7b7b7;
}

.comment {
	float: left;
	background: url(../img/popup-link.png) 0 2px no-repeat;
	margin-left: 14px;
	padding-left: 16px;
}

.comment1 {
	float: left;
	background: url(../img/like.png) 0 2px no-repeat;
	margin-left: 14px;
	padding-left: 16px;
}

.love {
	float: right;
	height: 16px;
	margin-right: 5px;
	background: url(../img/like.png) 0 2px no-repeat;
	padding-left: 16px;
}

.jc_list {
	background: #fff;
	overflow: hidden;
	margin: 10px auto;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
}

.jc_list h1 {
	line-height: 40px;
	font-size: 18px;
	padding-left: 10px;
	border-bottom: 1px solid #dedede
}

.jc_list h1 span {
	float: right;
	font-size: 12px;
	padding-right: 10px;
}

.jc_list ul {
	padding: 10px;
}

.jc_list ul li {
	height: 28px;
	line-height: 28px;
	white-space: nowrap;
	position: relative;
	vertical-align: top;
	overflow: hidden;
}

.jc_list ul li a {
	display: block;
	_width: 260px;
	text-overflow: ellipsis;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 18px;
	background: url(../img/bga.png) no-repeat  -140px -26px;
}

.jc_list ul li span {
	float: right;
	margin-left: 5px;
	color: #b7b7b7;
	font-size: 14px;
}

.list {
	padding-bottom: 20px;
	padding-top: 20px;
	overflow: hidden;
	zoom: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
	background: #fff;
	padding: 5px;
}

.wz_list .l_more {
	padding-top: 10px
}

.wz_list ul {
	margin-top: -10px;
	overflow: hidden
}

.wz_list ul .box_pic {
	float: right;
	width: 158px;
	display: inline;
	background: #fff;
	margin-left: 10px;
	height: 108px;
	overflow: hidden
}

.wz_list ul .box_pic img {
	width: 150px;
	height: 100px;
	border: 1px solid #ddd;
	padding: 3px;
	border-radius: 2px
}

.wz_list ul .box_pic a:hover img {
	border: 1px solid #ccc
}

.list_con_li,.list_con_li2 {
	clear: left;
	display: block;
	float: left;
	font: 700 22px/28px Tahoma;
	width: 100%;
	background: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #CDCDCD;
	margin: 0
}

.list_con_li,.list_con_li .box2 {
	background: #f7f7f7
}

.list_con_li2 .box2 {
	background: #fff
}

.list_news_tit {
	clear: left;
	display: block;
	float: left;
	text-align: left;
	overflow: hidden;
	margin-top: 8px;
	background: url(../img/titleico.gif) no-repeat 8px 7px;
	line-height: 38px;
	height: 38px;
	width: 580px;
	overflow: hidden;
	text-indent: 35px
}

.list_news_tit a {
	text-decoration: none;
	font-size: 14px;
	color: #333;
	font-family: Tahoma,Geneva,sans-serif;
	float: left
}

.list_news_tit a:hover {
	color: #C00;
	text-decoration: none
}

.list_news_tit a:visited {
	color: #666;
	text-decoration: none
}

.list_news_info {
	clear: right;
	color: #666;
	display: inline;
	float: right;
	font: 400 13px Tahoma;
	margin: 18px 13px 0 0
}

i.i1,i.i2,i.i3,i.i4 {
	cursor: pointer;
	margin-top: 10px;
	margin-left: 8px;
	background: url(../img/titleico.gif) no-repeat;
	overflow: hidden;
	display: block;
	float: left;
}

i.i1 {
	width: 16px;
	height: 16px;
	background-position: -16px -32px;
}

i.i2 {
	width: 16px;
	height: 16px;
	background-position: -36px -32px;
}

i.i3 {
	width: 23px;
	height: 16px;
	background-position: -57px -31px;
}

i.i4 {
	width: 13px;
	height: 16px;
	background-position: 0 -32px;
}

.box2 {
	clear: left;
	color: #666;
	display: block;
	float: left;
	font: 400 12px Verdana,Geneva,sans-serif;
	text-align: left;
	line-height: 22px;
	overflow: hidden;
	padding: 2px 10px 20px 35px;
}

.sitepage {
	line-height: 25px;
	overflow: hidden;
	float: left;
	width: 821px;
	border-bottom: 1px solid #DEDede
}

.main_wrap {
	overflow: hidden;
	margin: 10px;
}

.sitedata {
	margin-bottom: 10px;
	overflow: hidden;
}

.sitedata h1 {
	font-size: 20px;
	font-weight: normal;
	color: #222222;
	font-family: "Microsoft Yahei","simsun","arial";
	height: 35px;
	line-height: 35px;
	padding-bottom: 10px
}

.sitedata h1 a {
	color: #f60;
	text-decoration: none;
}

.sitedata font {
	font: normal 12px normal;
}

.sitedata ul {
	background: #fcfcfc;
	border-top: dotted 1px #dadada;
	border-bottom: dotted 1px #dadada;
	height: 46px;
}

.sitedata ul li {
	color: #888888;
	display: block;
	float: left;
	padding: 5px 9px;
	line-height: 18px;
	text-align: center;
	border-right: 1px dotted #DDDDDD;
}

.sitedata ul li em {
	color: #555555;
	display: block;
	font-style: normal;
}

.sitepic {
	float: left;
	width: 274px;
	height: 204px;
	border: 1px solid #dddddd
}

.sitepic img {
	width: 270px;
	height: 200px;
	margin: 2px;
}

.siteinfo {
	float: left;
	margin-left: 10px;
	width: 514px;
	font-size: 14px;
}

.siteinfo li {
	clear: both;
	margin-top: 8px;
	float: left
}

.siteinfo li em {
	float: left;
	font-style: normal;
	font-weight: bold;
	color: #4FB81B;
	margin-right: 15px;
}

.siteinfo span {
	color: #9A9A9A;
	width: 100px;
	float: left
}

.siteinfo p {
	float: left;
	width: 486px;
}

.newsitelist {
	padding: 10px;
}

.layout {
	width: 1180px;
	padding: 50px 0;
	margin: 40px auto;
	overflow: hidden;
	background: #fff;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
}

.col-sub {
	float: left;
	width: 290px;
	text-align: center;
	height: 255px;
	margin-left: 150px;
}

.col-main {
	float: left;
	width: 560px;
}

.col-main .header {
	border-bottom: 1px dotted #B3B3B3;
	padding: 35px 0px 15px;
}

.col-main .header .title {
	font-size: 18px;
	font-family: "微软雅黑";
	color: #444;
}

.col-main .header .title .hightlight {
	color: #FF7300;
	font-size: 30px;
	margin-right: 10px;
}

.col-main {
	color: #666;
}

.content {
	padding-top: 20px;
}

.col-main .content .jump-home {
	background: #ff7300;
	border-radius: 4px;
	width: 89px;
	height: 34px;
	line-height: 34px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	margin-right: 15px;
}

.jump-random {
	color: #FF7300;
	text-decoration: none;
	display: inline-block;
	padding-left: 10px;
	margin: 0px 12px;
}

.mb_arj {
	width: 800px;
	float: left;
	padding: 15px 0;
	margin-left: 10px;
	overflow: hidden;
}

.mb_arj_l {
	width: 270px;
	height: 200px;
	float: left;
}

.mb_arj_l img {
	width: 270px;
	height: 200px;
	border: #dedede 1px solid;
}

.mb_arj_r {
	width: 515px;
	float: right;
}

.mb_arj_r .mb1 {
	height: 55px;
	background: url(../img/jgbg.png) no-repeat;
	padding: 10px;
}

.mb_arj_r .mb2 {
	float: left;
	display: block
}

.mb_arj_r .mb2 li {
	width: 450px;
	line-height: 25px;
	color: #fff;
	display: block
}

.mb_arj_r .mb2 .jianju {
	padding-left: 50px;
}

.mb_arj_r .mb2 .shop {
	color: red;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}

.mb_arj_r .mb2 .shops {
	color: red;
	font-size: 12px;
	color: #fff;
	font-weight: 100;
	padding-left: 10px;
}

.mb_arj_r .down {
	height: 43px;
	line-height: 40px;
	margin-top: 10px;
	float: left;
	overflow: hidden
}

.mb_arj_r .down li {
	width: 150px;
	float: left;
	height: 40px;
	background: #E0001B;
	text-align: center;
	font-size: -9px
}

.mb_arj_r .down li a {
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF
}

.mb_arj_r .down li:hover {
	background: #ae061a;
	box-shadow: 0px 1px 1px 0px #DDD;
}

.mb_arj_r .good {
	width: 510px;
	margin-top: 5px;
	height: 70px;
	line-height: 24px;
}

.mb_arj_r .good li {
	margin: 0 5px;
}

.mb_arj_r .demo {
	height: 43px;
	line-height: 40px;
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	overflow: hidden
}

.mb_arj_r .demo li {
	width: 150px;
	float: left;
	height: 40px;
	background: #33bd9b;
	text-align: center;
	font-size: -9px
}

.mb_arj_r .demo li a {
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF
}

.mb_arj_r .demo li:hover {
	background: #158a6d;
}

.moban-img {
	border: 1px solid #dedede;
	margin: 10px auto;
	overflow: hidden;
	width: 800px;
}

.moban-img-title {
	height: 35px;
	background: #FAFAFA;
	line-height: 35px;
	margin-bottom: 10px;
}

.moban-img-title strong {
	width: 85px;
	display: block;
	line-height: 35px;
	height: 35px;
	padding: 0 15px;
	color: #333;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}

#gallery {
	overflow: hidden;
	width: 760px;
	padding: 10px 10px;
	margin-bottom: 15px;
}

#gallery ul {
	list-style: none;
	width: 780px;
	overflow: hidden
}

#gallery ul li {
	display: inline;
	float: left;
	margin: 8px 7px;
}

#gallery ul li a {
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.15) 0 0 8px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px;
}

#gallery ul li a:hover {
	border: 1px solid #F90;
	background: #F9F9F9;
	box-shadow: rgba(224,194,0,0.9) 0 0 8px;
}

#gallery ul li a span {
	background: #000;
	display: block;
	text-align: center;
	height: 22px;
	color: #fff;
	line-height: 22px;
	bottom: 5px;
	position: absolute;
	filter: alpha(opacity=60);
	opacity: .6;
}

#gallery ul li a em {
	text-align: center;
	padding: 0 5px;
	height: 22px;
	line-height: 22px;
	font-style: normal;
	position: absolute;
	color: #fff;
	bottom: 5px;
	font-family: "微软雅黑";
}

#gallery ul li a u {
	display: block;
	height: 120px;
	overflow: hidden;
}

#gallery ul img {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}

#gallery ul a:hover {
	text-decoration: none;
	color: #ccc;
}

#gallery ul li,#gallery ul li a u,#gallery ul li a em,#gallery ul li a span {
	cursor: url(/img/lb/zoomin.cur),auto;
	cursor: pointer;
}

#gallery ul li a,#gallery ul li a span,#gallery ul li a u,#gallery ul img {
	width: 128px;
}

#gallery ul li a em {
	width: 118px;
}

#show {
	background: url(images/photo.jpg)
}

#meun1 {
	color: #fff;
	padding-left: 10px;
}

#meun1 img {
	float: left;
}

#submeun1 {
	margin-left: 70px;
	float: left;
}

#submeun1 li {
	text-align: center;
	margin-right: 10px;
	float: left;
	display: inline;
}

#submeun1 li a {
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
}

#submeun1 li.cur {
	text-align: center;
	background: #82ce18;
	margin-right: 10px;
	float: left;
	display: inline;
}

#top1 {
	background-color: #000;
	margin: 0em 0 10px 0em;
	border-style: solid;
	border-width: 1px;
	border-color: #E5E5E5;
	height: 50px;
	line-height: 50px;
}

#quirkyPopupShowBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 64px;
	background: url(images/quirkyPopupShowBtn.gif) no-repeat;
}

#quirkyPopupShowBtn:hover {
	background: url(images/quirkyPopupShowBtn.gif) no-repeat 0 -70px;
}

#messageBoardContainer {
	width: 354px;
	height: 0px;
	position: absolute;
	top: 300px;
	left: 450px;
	overflow: hidden;
	z-index: 5;
}

#messageBoard {
	width: 354px;
	height: 294px;
	position: absolute;
}

#messageBoard .wrap {
	width: 344px;
	height: 284px;
	background: #ededed;
	border: 1px solid #f2f2f2;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
}

#messageBoard .bg {
	width: 354px;
	height: 294px;
	background: #000000;
	position: absolute;
	top: 0;
	left: 0;
	filter: alpha(opacity=30);
	opacity: 0.3;
	z-index: 1;
}

#messageBoard h2 {
	height: 24px;
	background: url(images/messageBoard.gif) repeat-x 0 -24px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	padding-left: 10px;
	cursor: move;
}

#messageBoard h2 span {
	line-height: 22px;
}

#messageBoard h2 a {
	position: absolute;
	top: 5px;
	right: 6px;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/messageBoard.gif) no-repeat;
}

#messageBoard h2 a:hover {
	background: url(images/messageBoard.gif) no-repeat 0 -12px;
}

#messageBoard .content {
	padding: 10px 20px;
}

#messageBoard .content p {
	line-height: 30px;
	font-size: 12px;
	color: #666666;
}

#messageBoard .content p a {
	font-family: arial;
	font-weight: bold;
	color: #cc3333;
	border-bottom: 1px dotted #cc3333;
}

#messageBoard .content p a:hover {
	position: relative;
	top: 1px;
	color: #cc0000;
}

#messageBoard .red {
	color: #cc3333;
}

#messageBoard .indent {
	text-indent: 24px;
}

#messageBoard .date {
	text-align: right;
}

.page_shows {
	line-height: 24px;
	font-size: 14px;
	color: #333;
	padding: 10px;
	overflow: hidden
}

.video-lists {
	float: left;
	width: 222px;
	height: 190px;
	margin: 12px 5px;
}

.video-imgs {
	width: 220px;
	height: 160px;
	position: relative;
}

.video-imgs img {
	width: 220px;
	height: 160px;
}

.video-imgs:hover {
	box-shadow: 2px 2px 2px #aaa;
}

.video-imgs .play-bars {
	height: 20px;
	width: 100%;
	position: absolute;
	top: 140px;
	left: 0px;
	background: url(../img/Alpha.png) repeat-x;
}

.video-imgs .play-bars i {
	display: block;
	width: 30px;
	height: 20px;
	float: right;
	background: url(../img/icon_17.png) no-repeat;
	opacity: 0.9;
	filter: alpha(opacity:90);
}

.video-imgs a:hover .play-bars i {
	opacity: 1;
	filter: alpha(opacity:100);
}

.video-lists dt {
	font: normal 14px/28px "微软雅黑";
	color: #3c3c3c;
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
}

.video-lists dt a {
	color: #3c3c3c;
}

.video-lists .video-tes {
	font: normal 12px/20px " 宋体";
	color: #999;
}

.mulu {
	width: 100%;
	margin-bottom: 10px;
	float: left;
	background: url(../img/video-bg.jpg) repeat-x #2D2D2D;
	position: relative
}

.mulun {
	width: 900px;
	height: auto;
	margin: 10px auto 30px auto;
}

.mulun h1 {
	font-size: 24px;
	color: #fff
}

.btxt1 {
	line-height: 40px;
	overflow: hidden;
	color: #A0A0A0
}

.btxt1 a {
	color: #A0A0A0
}

.u-ptl-c {
	width: 300px;
	float: right;
	padding: 10px;
	background: #fff;
	margin-bottom: 10px;
	border: 1px solid #e1e1e1;
}

.u-ptl-c h3 {
	line-height: 22px;
	margin: 9px 0;
	font-size: 14px;
}

.u-ptl-c p {
	line-height: 20px;
}

.f-c9 {
	color: #999;
}

.b-20 {
	height: 20px;
}

.chajian {
	margin-top: 10px;
	width: 1180px;
	overflow: hidden;
	margin: 0 auto;
}

.recommend {
	width: 950px;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
	float: left;
	background: #fff;
}

.titlefont {
	font-size: 14px;
	font-weight: bold;
	color: #03a8b1;
	padding-left: 17px;
	padding-top: 17px;
	float: left;
}

.titlefont a {
	font-size: 14px;
	font-weight: bold;
	color: #555;
}

.titlefont a:hover {
	color: #eb7b0e;
}

.classlink {
	float: left;
	margin-left: 6px;
	margin-top: 19px;
}

.classlink li {
	float: left;
	padding-left: 9px;
	padding-right: 9px;
	background: url(../img/line1.gif) no-repeat left center;
}

.mores {
	float: right;
	padding-right: 20px;
	padding-top: 19px;
}

.mores a,.morelist a {
	color: #7A7A7A;
}

.mores a:hover,.morelist a:hover {
	color: #eb7b0e;
}

.listss {
	clear: both;
	padding-top: 9px;
	padding-left: 5px;
	_padding-left: 7px;
}

.listss li {
	float: left;
	width: 170px;
	margin-right: 8px;
	margin-left: 8px;
	_margin-right: 4px;
	_margin-left: 4px;
	padding-bottom: 10px;
}

.listss li h2 {
	font-weight: normal;
	padding-left: 7px;
	display: block;
	float: left;
	width: 170px;
	margin-top: 1px;
	height: 16px;
	overflow: hidden
}

.listpic {
	width: 170px;
	height: 122px;
}

.listpic img {
	width: 170px;
	height: 122px;
}

.listcount {
	width: 170px;
	float: left;
}

.view,.view1 {
	float: left;
	height: 16px;
	background: url(../img/views.png) 0 2px no-repeat;
	margin-left: 6px;
	_margin-left: 3px;
	padding-left: 19px;
}

.view,.comment,.love,.comment1 {
	font-size: 11px;
	font-family: Arial;
	color: #b7b7b7;
}

.view1 {
	font-size: 12px;
	font-family: Arial;
	color: #b7b7b7;
}

.comment {
	float: left;
	background: url(../img/popup-link.png) 0 2px no-repeat;
	margin-left: 14px;
	padding-left: 16px;
}

.comment1 {
	float: left;
	background: url(../img/like.png) 0 2px no-repeat;
	margin-left: 14px;
	padding-left: 16px;
}

.love {
	float: right;
	height: 16px;
	margin-right: 5px;
	background: url(../img/like.png) 0 2px no-repeat;
	padding-left: 16px;
}

.titleright {
	font-size: 14px;
	font-weight: bold;
	color: #03a8b1;
	padding-left: 14px;
	padding-top: 17px;
	float: left;
}

.titleright a {
	color: #03a8b1;
	font-size: 14px;
}

.titleright a:hover {
	color: #eb7b0e;
}

.titleright1 {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding-left: 14px;
	padding-top: 17px;
	float: left;
}

.titleright2 {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding-top: 17px;
	float: left;
}

.listright {
	clear: both;
	padding-top: 11px;
}

.listright li {
	float: left;
	width: 200px;
	margin-left: 8px;
	_margin-left: 4px;
	padding-bottom: 20px;
}

.listright li h2 {
	font-weight: normal;
	padding-left: 7px;
	display: block;
	float: left;
	width: 200px;
	margin-top: 8px;
	_margin-top: 8px;
	*line-height: 16px;
}

.rightads {
	padding: 10px;
	border-right: solid 1px #dededf;
	border-bottom: solid 1px #dbdcde;
	float: right;
	background: #fff;
}

.ainfo {
	border-top: 1px dotted #F7C988;
	border-left: 1px dotted #F7C988;
	width: 820px;
	height: 72px;
	margin: 15px 0;
	background: #FBFAD5
}

.ainfo li {
	height: 35px;
	line-height: 35px;
	float: left;
	width: 409px;
	border-bottom: 1px dotted #F7C988;
	border-right: 1px dotted #F7C988;
	text-indent: 13px;
}

.ainfo li span {
	font-weight: bold
}

.ainfo li img {
	vertical-align: middle;
}

.ainfo li.ag2 {
}

body {
}

body,input,button,select,textarea {
	font: 12px/1.5 "microsoft yahei";
	color: rgb(105,105,105)
}

.ie6 #chart {
	overflow: hidden;
	margin: 0;
	padding: 0
}

#menu-main-nav-menu li a span {
	display: none
}

h1,h2,h3,h4,h5,h6 {
	color: #666666
}

.bm {
	border: none;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none;
	color: #70CA10;
}

a,#umnav_menu,.pn {
	transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

#menu-main-nav-menu.sf-menu.sf-js-enabled.sf-shadow {
	width: 1000px;
	height: 40px;
	line-height: 40px;
	overflow: hidden
}

.ie6 #menu-main-nav-menu.sf-menu.sf-js-enabled.sf-shadow {
	position: relative
}

/* bcon */
.bcon {
	width: 840px;
	border: 1px solid #eee;
	margin-left: 0px;
	background: #ffffff;
}

.bcon h2 {
	border-bottom: 1px solid #eee;
	padding: 0 10px;
}

.bcon h2 b {
	font: bold 14px/40px '宋体';
	border-top: 2px solid #70CA10;
	padding: 0 8px;
	margin-top: -1px;
	display: inline-block;
}

.bcon .btn_span {
	float: right;
	background: #ff8c05;
	width: 90px;
	text-align: center;
	line-height: 34px;
	margin-top: 3px;
	border-radius: 4px;
}

.bcon .btn_span a {
	color: #ffffff;
}

.bcon .btn_span1 {
	float: right;
	background: #ff8c05;
	width: 160px;
	text-align: center;
	line-height: 30px;
	margin-top: -4px;
	border-radius: 0px;
}

.bcon .btn_span1 a {
	color: #ffffff;
}

.list_lh {
	overflow: hidden;
}

.list_lh li {
	padding: 12px;
}

.list_lh li.lieven {
	background: #F0F2F3;
}

.list_lh li p {
	height: 24px;
	line-height: 24px;
}

.list_lh li p a {
}

.list_lh li p em {
	width: 230px;
	font: normal 12px/24px Arial;
	color: #FF3300;
	float: right;
	display: inline-block;
}

.list_lh li p span {
	color: #999;
	float: right;
}

.list_lh li p a.btn_lh {
	background: #70CA10;
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding: 0 30px;
	margin-top: -4px;
	display: inline-block;
	float: right;
}

.btn_lh:hover {
	color: #fff;
	text-decoration: none;
}