<cmp 
	
    name = "≮乐视直播网≯" 
	link = "http://www.letvlive.com/" 
	description ="乐视直播网:http://www.letvlive.com"

	skins = "kankan.swf"
        plugins = "proxy.swf"
	
        privacy_url = "privacy_.xml"
        
        privacy_readme = "5201314520"
        loading_per = ""
        mixer_src = ""
	ads="{src:ads.png,link:,link_target:_blank,width:600,height:298,duration:2,onstate:playing,target:video},
{src:ads.png,link:,link_target:_blank,width:600,height:298,duration:2,onstate:paused,target:video}," 
        
        announce_xywh = "0,0,100P,30"
	announce_speed = "2"	
	announce_content="乐视直播网(http://www.letvlive.com)网站不存储，不传播任何有版权的影视作品，如有侵犯版权，请您及时联系我，我们会立即删除！"

       backgrounds = ""
       	
	lists="2015.xml"
        
        proxy = "http://www.l8yy.com/"
        proxy1 = "http://www.l8yy.com/2b.php?vid="
        xfgys = "http://www.l8yy.com/"
        l8yy = "http://www.l8yy.com/l8yy.php?vid="
        yk = "http://tv6080.pronvod.com/dsj/youku.php?m="
        ls = "http://tv6080.pronvod.com/dsj/letv.php?m="
        sohu = "http://tv6080.pronvod.com/dsj/sohu.php?v="
        qq = " http://tv6080.pronvod.com/dsj/qq.php?v="




        youku_hd="1"   	     
	tudou_brt="4"
        qiyi_hd="1"
	sohu_definition="ori"
 
	src_handler = ""  
	lrc_handler = "" 
	skin_id = "1"
   auto_play="0"
	play_id = "1"
	
	list_delete = ""
	
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"
	
	counter = ""
/>








